<%- include header %>
    <header>
        <div class="title">webSocket聊天室</div>
        <div class="info">
            <input type="hidden" id="username" value="<%=user%>"/>
            <%=user%> | <a href="/logout" id="logout">退出</a>
        </div>
    </header>
    <div class="online-count">
        <p class="num">
            在线人数:<span>0</span>
        </p>
        <ul class="online-list">
            
        </ul>
    </div>
    <div class="chat">
    </div>
    <div class="input-box">
        <input type="text" class="chat-input"/>
        <button class="chat-button">提交</button>
    </div>
    <script type="text/javascript" src="/js/chat.js"></script>
<%- include footer %>